@forward 'uswds-theme';
@forward 'uswds';
@forward 'uswds-theme-custom-styles';

@import '~@trussworks/react-uswds/lib/index.css';

.truncate {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

html {
  scroll-padding-top: 144px;
}

* {
  scroll-behavior: smooth;
}

ul li:last-child {
  margin-bottom: 4px;
}
