@import 'tailwindcss';
@import '@matsugov/tw-config/msb.css';

@source '../app/**/*.{js,ts,jsx,tsx,mdx}';
@source '../components/**/*.{js,ts,jsx,tsx,mdx}';
@source './pages/**/*.{js,ts,jsx,tsx,mdx}';
@source '../node_modules/@matsugov/ui/src/**/*.{js,ts,jsx,tsx,mdx}';
@source '../node_modules/@msb/map/src/**/*.{js,ts,jsx,tsx,mdx}';
@source inline('icon-[mdi--{pets,message-alert,home,briefcase,legal,excavator,cart,road-variant,microphone,pier-crane,server,money,fire-truck,house-group,file-document,user-tie}]');

/* @config '../tailwind.config.js'; */

/*
  The default border color has changed to `currentcolor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }

  /* Anchor tags */
  a {
    @apply text-primary underline;
  }

  a:hover {
    @apply text-primary-dark;
  }

  a:focus {
    @apply focus:outline-none focus:ring-4 focus:ring-offset-2 focus:ring-blue-40v;
  }
  a:visited {
    color: var(--color-purple-900);
  }

  /* Body element */
  body {
    color: var(--color-base-darkest);
    background: var(--color-white);
  }

  /* Button focus state */
  button {
    @apply focus:outline-none focus:ring-4 focus:ring-offset-2 focus:ring-blue-40v;
  }
}

* {
  scroll-behavior: smooth;
}

html {
  scroll-padding-top: 144px;
}
p .msb-md-body {
  table {
    width: 100%;
  }
}

@layer components {
  .focus-ring {
    @apply focus:outline-none focus:ring-4 focus:ring-offset-2 focus:ring-blue-40v;
  }
}
