@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .milkdown {
    --crepe-font-default: inherit;
    --crepe-font-title: inherit;
  }

  .milkdown .ProseMirror {
    border: 1px solid #e1e5e9;
    border-radius: 8px;
    padding: 0 !important;
  }

  .milkdown button {
    background-color: unset;
    background: unset;
  }

  .milkdown milkdown-slash-menu {
    z-index: 1;
  }
}

@layer components {
  button,
  .btn,
  button.btn,
  .milkdown button,
  .milkdown button.btn {
    @apply px-2 py-1 rounded transition-colors flex justify-center items-center;
  }

  .btn--icon,
  button.btn--icon,
  button.btn.btn--icon,
  .milkdown button.btn--icon,
  .milkdown button.btn.btn--icon {
    @apply px-1 py-1 rounded-full;
  }

  .btn--default,
  button.btn--default,
  button.btn.btn--default,
  .milkdown button.btn--default,
  .milkdown button.btn.btn--default {
    @apply bg-gray-200 hover:bg-gray-300;
  }

  button.btn.btn--focused,
  .milkdown button.btn.btn--focused {
    @apply bg-blue-200 hover:bg-blue-300;
  }

  .card,
  .milkdown .card,
  .milkdown div.card {
    @apply bg-white drop-shadow-lg rounded p-2;
  }

  .menu,
  .milkdown .menu,
  .milkdown div.menu {
    @apply bg-white drop-shadow-lg rounded flex flex-col min-w-52 data-[show=false]:hidden gap-2 p-2;
  }

  /* ICONS */
  .icon-strike {
    display: inline-block;
    width: 1em;
    height: 1em;
    --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='none' stroke='%23000' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M5 12h14m-3-5.5A4 2 0 0 0 12 5h-1a3.5 3.5 0 0 0 0 7h2a3.5 3.5 0 0 1 0 7h-1.5a4 2 0 0 1-4-1.5'/%3E%3C/svg%3E");
    background-color: currentColor;
    -webkit-mask-image: var(--svg);
    mask-image: var(--svg);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
  }

  .icon-link {
    display: inline-block;
    width: 1em;
    height: 1em;
    --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='none' stroke='%23000' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m9 15l6-6m-4-3l.463-.536a5 5 0 0 1 7.071 7.072L18 13m-5 5l-.397.534a5.07 5.07 0 0 1-7.127 0a4.97 4.97 0 0 1 0-7.071L6 11'/%3E%3C/svg%3E");
    background-color: currentColor;
    -webkit-mask-image: var(--svg);
    mask-image: var(--svg);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
  }

  .icon-bold {
    display: inline-block;
    width: 1em;
    height: 1em;
    --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='none' stroke='%23000' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M7 5h6a3.5 3.5 0 0 1 0 7H7zm6 7h1a3.5 3.5 0 0 1 0 7H7v-7'/%3E%3C/svg%3E");
    background-color: currentColor;
    -webkit-mask-image: var(--svg);
    mask-image: var(--svg);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
  }

  .icon-italic {
    display: inline-block;
    width: 1em;
    height: 1em;
    --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='none' stroke='%23000' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M11 5h6M7 19h6m1-14l-4 14'/%3E%3C/svg%3E");
    background-color: currentColor;
    -webkit-mask-image: var(--svg);
    mask-image: var(--svg);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
  }
}
