@tailwind base;
@tailwind components;
@tailwind utilities;

.milkdown {
  --crepe-color-background: #fffdfb;
  --crepe-color-on-background: #1f1b16;
  --crepe-color-surface: #fff8f4;
  --crepe-color-surface-low: #fff1e5;
  --crepe-color-on-surface: #201b13;
  --crepe-color-on-surface-variant: #4f4539;
  --crepe-color-outline: #817567;
  --crepe-color-primary: #805610;
  --crepe-color-secondary: #fbdebc;
  --crepe-color-on-secondary: #271904;
  --crepe-color-inverse: #362f27;
  --crepe-color-on-inverse: #fcefe2;
  --crepe-color-inline-code: #ba1a1a;
  --crepe-color-error: #ba1a1a;
  --crepe-color-hover: #f9ecdf;
  --crepe-color-selected: #ede0d4;
  --crepe-color-inline-area: #e4d8cc;

  --crepe-font-title: Georgia, Cambria, 'Times New Roman', Times, serif;
  --crepe-font-default: 'Open Sans', Arial, Helvetica, sans-serif;
  --crepe-font-code: Fira Code, Menlo, Monaco, 'Courier New', Courier, monospace;

  --crepe-shadow-1: 0px 1px 3px 1px rgba(0, 0, 0, 0.15),
    0px 1px 2px 0px rgba(0, 0, 0, 0.3);
  --crepe-shadow-2: 0px 2px 6px 2px rgba(0, 0, 0, 0.15),
    0px 1px 2px 0px rgba(0, 0, 0, 0.3);
}

/* Begin Tables */

.milkdown milkdown-table-block {
  display: block;
  margin: 4px 0;
}

.milkdown milkdown-table-block th,
.milkdown milkdown-table-block td {
  border: 1px solid
    color-mix(in srgb, var(--crepe-color-outline), transparent 80%);
  padding: 4px 16px;
}

.milkdown {
  milkdown-table-block th {
    @apply bg-zinc-50;
  }
}

.milkdown milkdown-table-block th .ProseMirror-selectednode,
.milkdown milkdown-table-block td .ProseMirror-selectednode {
  background-color: transparent !important;
}

.milkdown milkdown-table-block th:has(.ProseMirror-selectednode),
.milkdown milkdown-table-block td:has(.ProseMirror-selectednode) {
  outline: 1px solid var(--crepe-color-primary);
  outline-offset: -1px;
}

.milkdown milkdown-table-block .selectedCell::after {
  background-color: var(--crepe-color-selected);
  opacity: 0.4;
}

.milkdown milkdown-table-block .selectedCell ::-moz-selection {
  background: transparent;
}

.milkdown milkdown-table-block .selectedCell ::selection {
  background: transparent;
}

.milkdown milkdown-table-block .drag-preview {
  background-color: var(--crepe-color-surface);
  opacity: 0.4;
  position: absolute;
  z-index: 100;
  display: flex;
  flex-direction: column;
  outline: 1px solid var(--crepe-color-primary);
  outline-offset: -1px;
}

.milkdown milkdown-table-block .drag-preview[data-show='false'] {
  display: none;
}

.milkdown milkdown-table-block .drag-preview th:has(.ProseMirror-selectednode),
.milkdown milkdown-table-block .drag-preview td:has(.ProseMirror-selectednode) {
  outline: none;
}

.milkdown milkdown-table-block .handle {
  position: absolute;
  font-size: 14px;
  transition: opacity ease-in-out 0.2s;
}

.milkdown milkdown-table-block .handle[data-show='false'] {
  opacity: 0;
}

.milkdown milkdown-table-block svg {
  fill: var(--crepe-color-outline);
}

.milkdown milkdown-table-block .cell-handle {
  z-index: 50;
  left: -999px;
  top: -999px;
  cursor: grab;
  background-color: var(--crepe-color-surface);
  color: var(--crepe-color-outline);
  border-radius: 100px;
  box-shadow: var(--crepe-shadow-1);
  transition: background-color 0.2s ease-in-out;
}

.milkdown milkdown-table-block .cell-handle:hover {
  background-color: var(--crepe-color-hover);
}

.milkdown milkdown-table-block .cell-handle:has(.button-group:hover) {
  background-color: var(--crepe-color-surface);
}

.milkdown milkdown-table-block .cell-handle[data-role='col-drag-handle'] {
  transform: translateY(50%);
  padding: 0 6px;
  width: 28px;
  height: 16px;
}

.milkdown milkdown-table-block .cell-handle[data-role='row-drag-handle'] {
  transform: translateX(50%);
  padding: 6px 0;
  width: 16px;
  height: 28px;
}

.milkdown milkdown-table-block .cell-handle .button-group {
  position: absolute;
  transform: translateX(-50%);
  left: 50%;
  top: -52px;
  display: flex;
  background-color: var(--crepe-color-surface);
  border-radius: 8px;
  box-shadow: var(--crepe-shadow-1);
}

.milkdown milkdown-table-block .cell-handle .button-group::after {
  content: '';
  position: absolute;
  bottom: -8px;
  height: 8px;
  background-color: transparent;
  width: 100%;
}

.milkdown milkdown-table-block .cell-handle .button-group[data-show='false'] {
  display: none;
}

.milkdown milkdown-table-block .cell-handle .button-group button {
  cursor: pointer;
  margin: 6px;
  padding: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
}

.milkdown milkdown-table-block .cell-handle .button-group button svg {
  width: 24px;
  height: 24px;
}

.milkdown milkdown-table-block .cell-handle .button-group button:hover {
  border-radius: 8px;
  background-color: var(--crepe-color-hover);
}

.milkdown milkdown-table-block .cell-handle .button-group button:active {
  background: var(--crepe-color-selected);
}

.milkdown milkdown-table-block .cell-handle:hover {
  opacity: 1;
}

.milkdown milkdown-table-block .line-handle {
  z-index: 20;
  background-color: var(--crepe-color-primary);
}

.milkdown milkdown-table-block .line-handle:hover {
  opacity: 1;
}

.milkdown milkdown-table-block .line-handle .add-button {
  cursor: pointer;
  background-color: var(--crepe-color-surface);
  color: var(--crepe-color-outline);
  border-radius: 100px;
  box-shadow: var(--crepe-shadow-1);
  transition: background-color 0.2s ease-in-out;
}

.milkdown milkdown-table-block .line-handle .add-button > svg {
  width: 16px;
  height: 16px;
}

.milkdown milkdown-table-block .line-handle .add-button:hover {
  background-color: var(--crepe-color-hover);
}

.milkdown milkdown-table-block .line-handle .add-button:active {
  background: var(--crepe-color-selected);
}

.milkdown milkdown-table-block .line-handle[data-role='x-line-drag-handle'] {
  height: 1px;
  z-index: 2;
}

.milkdown
  milkdown-table-block
  .line-handle[data-role='x-line-drag-handle']
  .add-button {
  position: absolute;
  transform: translateX(-50%) translateY(-50%);
  padding: 6px 0;
  width: 16px;
  height: 28px;
}

.milkdown milkdown-table-block .line-handle[data-role='y-line-drag-handle'] {
  width: 1px;
  z-index: 1;
}

.milkdown
  milkdown-table-block
  .line-handle[data-role='y-line-drag-handle']
  .add-button {
  position: absolute;
  transform: translateY(-50%) translateX(-50%);
  padding: 0 6px;
  width: 28px;
  height: 16px;
}

.milkdown
  milkdown-table-block
  .line-handle[data-display-type='indicator']
  .add-button {
  display: none;
}

.milkdown milkdown-table-block.readonly .handle {
  display: none;
}

/* End Tables */

.milkdown .ProseMirror {
  border: 1px solid #e1e5e9;
  border-radius: 8px;
  padding: 24px;
}

.milkdown button {
  background-color: unset;
  background: unset;
}

.milkdown milkdown-slash-menu {
  z-index: 1;
}

.milkdown {
  h1 {
    @apply text-6xl my-4 !important;
  }

  h2 {
    @apply text-5xl my-4 !important;
  }

  h3 {
    @apply text-4xl my-3 !important;
  }

  h4 {
    @apply text-3xl my-3 !important;
  }

  h5 {
    @apply text-2xl my-2 !important;
  }

  h6 {
    @apply text-xl my-2 !important;
  }
}

@layer components {
  ol.process {
    @apply list-none relative pl-4 my-4 ml-6;
    counter-reset: muffins;
  }

  .step {
    @apply pl-6 border-l-4;
    &::before {
      @apply flex items-center justify-center text-xl border-2 border-black rounded-full size-8 absolute bg-white;
      box-shadow: 0 0 0 0.25rem #ffffff;
      content: counter(muffins, decimal);
      counter-increment: muffins;
      left: -1.1rem;
    }

    > p:first-child {
      @apply mt-0 text-xl font-bold font-serif;
    }
  }

  button,
  .btn,
  button.btn,
  .milkdown button,
  .milkdown button.btn {
    @apply px-2 py-1 rounded transition-colors flex justify-center items-center;
  }

  .btn--icon,
  button.btn--icon,
  button.btn.btn--icon,
  .milkdown button.btn--icon,
  .milkdown button.btn.btn--icon {
    @apply px-1 py-1 rounded-full;
  }

  .btn--default,
  button.btn--default,
  button.btn.btn--default,
  .milkdown button.btn--default,
  .milkdown button.btn.btn--default {
    @apply bg-gray-200 hover:bg-gray-300;
  }

  button.btn.btn--focused,
  .milkdown button.btn.btn--focused {
    @apply bg-blue-200 hover:bg-blue-300;
  }

  .card,
  .milkdown .card,
  .milkdown div.card {
    @apply bg-white drop-shadow-lg rounded p-2;
  }

  .menu,
  .milkdown .menu,
  .milkdown div.menu {
    @apply bg-white drop-shadow-lg rounded flex flex-col min-w-52 data-[show=false]:hidden gap-2 p-2;
  }

  /* ICONS */
  .icon-strike {
    display: inline-block;
    width: 1em;
    height: 1em;
    --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' d='M14.348 12H21v2h-4.613c.239.515.368 1.094.368 1.748q0 1.976-1.423 3.114Q13.912 20 11.376 20q-2.335 0-4.132-.878v-2.874q1.477.659 2.5.928q1.023.27 1.872.27q1.019 0 1.562-.39q.545-.388.545-1.158q0-.428-.24-.763a2.7 2.7 0 0 0-.704-.643c-.18-.12-.482-.287-.88-.491H3v-2h11.348zm-3.528-2a1.6 1.6 0 0 1-.193-.235a1.3 1.3 0 0 1-.189-.713q0-.658.469-1.068q.47-.41 1.348-.409q.738 0 1.502.19q.764.189 1.931.669l.998-2.405a15 15 0 0 0-2.16-.758A8.5 8.5 0 0 0 12.354 5q-2.316 0-3.628 1.108q-1.311 1.107-1.312 3.044c0 .302.036.58.088.848z'/%3E%3C/svg%3E");
    background-color: currentColor;
    -webkit-mask-image: var(--svg);
    mask-image: var(--svg);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
  }

  .icon-link {
    display: inline-block;
    width: 1em;
    height: 1em;
    --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' d='M17 13H7v-2h10zm1-6h-1c-1.631 0-3.065.792-3.977 2H18c1.103 0 2 .897 2 2v2c0 1.103-.897 2-2 2h-4.977c.913 1.208 2.347 2 3.977 2h1a4 4 0 0 0 4-4v-2a4 4 0 0 0-4-4M2 11v2a4 4 0 0 0 4 4h1c1.63 0 3.065-.792 3.977-2H6c-1.103 0-2-.897-2-2v-2c0-1.103.897-2 2-2h4.977C10.065 7.792 8.631 7 7 7H6a4 4 0 0 0-4 4'/%3E%3C/svg%3E");
    background-color: currentColor;
    -webkit-mask-image: var(--svg);
    mask-image: var(--svg);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
  }

  .icon-bold {
    display: inline-block;
    width: 1em;
    height: 1em;
    --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' d='M7 5.009h4.547q3.19 0 4.632.907t1.442 2.887q0 1.343-.631 2.205q-.631.86-1.678 1.036v.103q1.427.318 2.057 1.189q.631.87.631 2.316q0 2.051-1.482 3.199Q15.034 20 12.491 20H7zm3 5.937h2.027q1.293 0 1.872-.4t.579-1.323q0-.861-.63-1.236q-.632-.374-1.996-.374H10zm0 2.523v3.906h2.253q1.313 0 1.939-.502q.626-.503.626-1.539q0-1.866-2.668-1.865z'/%3E%3C/svg%3E");
    background-color: currentColor;
    -webkit-mask-image: var(--svg);
    mask-image: var(--svg);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
  }

  .icon-italic {
    display: inline-block;
    width: 1em;
    height: 1em;
    --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' d='m10.536 5l-.427 2h1.5L9.263 18h-1.5l-.427 2h6.128l.426-2h-1.5l2.347-11h1.5l.427-2z'/%3E%3C/svg%3E");
    background-color: currentColor;
    -webkit-mask-image: var(--svg);
    mask-image: var(--svg);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
  }

  .icon-h1 {
    display: inline-block;
    width: 1em;
    height: 1em;
    --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' d='M11 7h2v10h-2v-4H7v4H5V7h2v4h4zm6.57 0A4.74 4.74 0 0 1 15 9v1h2v7h2V7z'/%3E%3C/svg%3E");
    background-color: currentColor;
    -webkit-mask-image: var(--svg);
    mask-image: var(--svg);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
  }
  .icon-h2 {
    display: inline-block;
    width: 1em;
    height: 1em;
    --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' d='M9 7h2v10H9v-4H5v4H3V7h2v4h4zm8 8c.51-.41.6-.62 1.06-1.05q.656-.601 1.23-1.28a6.4 6.4 0 0 0 .85-1.28c.199-.39.305-.822.31-1.26a3 3 0 0 0-.27-1.28a2.9 2.9 0 0 0-.76-1a3.5 3.5 0 0 0-1.17-.63a4.8 4.8 0 0 0-1.5-.22q-.54 0-1.07.1a5 5 0 0 0-1 .29a4.4 4.4 0 0 0-.86.49q-.431.315-.82.68l1.24 1.22a6 6 0 0 1 1-.7c.35-.201.747-.304 1.15-.3a1.9 1.9 0 0 1 1.27.38c.311.278.477.684.45 1.1a2.13 2.13 0 0 1-.36 1.11a7 7 0 0 1-1 1.25c-.44.43-.98.92-1.59 1.43S13.75 15.11 13 15.7V17h8v-2z'/%3E%3C/svg%3E");
    background-color: currentColor;
    -webkit-mask-image: var(--svg);
    mask-image: var(--svg);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
  }

  .icon-h3 {
    display: inline-block;
    width: 1em;
    height: 1em;
    --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' d='M14.11 14.218c.355.287.749.523 1.17.7c.434.181.9.273 1.37.27c.484.017.965-.086 1.4-.3a.92.92 0 0 0 .55-.84a1.14 1.14 0 0 0-.15-.58a1.14 1.14 0 0 0-.51-.43a3.7 3.7 0 0 0-1-.27a10 10 0 0 0-1.52-.1v-1.57a4.7 4.7 0 0 0 2.17-.36a1.06 1.06 0 0 0 .63-.93a.9.9 0 0 0-.38-.81a2 2 0 0 0-1.13-.28a2.8 2.8 0 0 0-1.14.28a5.6 5.6 0 0 0-1.06.62l-1.22-1.39a6.6 6.6 0 0 1 1.64-.9a5.4 5.4 0 0 1 1.9-.33a6.5 6.5 0 0 1 1.56.17c.431.101.84.277 1.21.52c.325.211.595.495.79.83c.19.342.287.729.28 1.12c.011.48-.177.943-.52 1.28a3.9 3.9 0 0 1-1.46.86v.06c.609.14 1.175.425 1.65.83c.437.382.68.94.66 1.52c.005.421-.113.835-.34 1.19a2.85 2.85 0 0 1-.9.88a4.5 4.5 0 0 1-1.32.55a6.4 6.4 0 0 1-1.57.19a6.4 6.4 0 0 1-2.31-.37a4.3 4.3 0 0 1-1.57-1zM9 11H5V7H3v10h2v-4h4v4h2V7H9z'/%3E%3C/svg%3E");
    background-color: currentColor;
    -webkit-mask-image: var(--svg);
    mask-image: var(--svg);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
  }

  .icon-h4 {
    display: inline-block;
    width: 1em;
    height: 1em;
    --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' d='M11 17H9v-4H5v4H3V7h2v4h4V7h2zm10-2h-1v2h-2v-2h-5v-2l4.05-6H20v6h1zm-3-2V9l-2.79 4z'/%3E%3C/svg%3E");
    background-color: currentColor;
    -webkit-mask-image: var(--svg);
    mask-image: var(--svg);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
  }

  .icon-h5 {
    display: inline-block;
    width: 1em;
    height: 1em;
    --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' d='M14.09 14.19q.529.404 1.13.69a3.1 3.1 0 0 0 1.34.29a2.54 2.54 0 0 0 1.44-.4a1.29 1.29 0 0 0 .57-1.14A1.3 1.3 0 0 0 18 12.5a2.3 2.3 0 0 0-1.38-.39h-.47a2 2 0 0 0-.4.08l-.41.15l-.48.23l-1.02-.57l.28-5h6.4v1.92h-4.31L16 10.76a4.6 4.6 0 0 1 .68-.18q.353-.056.71-.05c.463-.004.924.057 1.37.18c.411.115.798.305 1.14.56c.33.248.597.57.78.94c.212.422.322.888.32 1.36c.007.497-.11.989-.34 1.43a3.3 3.3 0 0 1-.91 1.07c-.393.3-.837.527-1.31.67a5.2 5.2 0 0 1-1.54.26a6 6 0 0 1-2.31-.39a5.4 5.4 0 0 1-1.59-1zM11 17H9v-4H5v4H3V7h2v4h4V7h2z'/%3E%3C/svg%3E");
    background-color: currentColor;
    -webkit-mask-image: var(--svg);
    mask-image: var(--svg);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
  }

  .icon-h6 {
    display: inline-block;
    width: 1em;
    height: 1em;
    --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' d='M11 17H9v-4H5v4H3V7h2v4h4V7h2zm8.579-7.508a3.2 3.2 0 0 0-.82-.49a2.68 2.68 0 0 0-1.94 0a2 2 0 0 0-.78.52c-.244.27-.431.586-.55.93a4.6 4.6 0 0 0-.25 1.43a4.2 4.2 0 0 1 1.25-.77c.406-.171.84-.262 1.28-.27c.416-.006.83.048 1.23.16c.365.118.705.304 1 .55c.296.253.529.571.68.93c.194.403.303.843.32 1.29c.01.468-.093.931-.3 1.35a3.2 3.2 0 0 1-.83 1a3.6 3.6 0 0 1-1.2.64a4.7 4.7 0 0 1-3-.05a3.7 3.7 0 0 1-1.35-.85a4.2 4.2 0 0 1-1-1.48a5.8 5.8 0 0 1-.32-2.16a6.5 6.5 0 0 1 .38-2.34a4.6 4.6 0 0 1 1-1.62c.407-.416.898-.74 1.44-.95a4.6 4.6 0 0 1 1.7-.31a5.2 5.2 0 0 1 2 .34c.5.19.963.464 1.37.81zm-2.39 5.84c.203.001.406-.03.6-.09c.184-.046.357-.128.51-.24c.151-.136.271-.303.35-.49c.093-.225.137-.467.13-.71a1.26 1.26 0 0 0-.43-1.07a1.8 1.8 0 0 0-1.12-.33a2.4 2.4 0 0 0-1 .21a2.9 2.9 0 0 0-1 .73c.047.346.144.683.29 1c.109.231.258.441.44.62c.153.149.338.261.54.33c.226.055.46.068.69.04'/%3E%3C/svg%3E");
    background-color: currentColor;
    -webkit-mask-image: var(--svg);
    mask-image: var(--svg);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
  }

  .icon-drag {
    display: inline-block;
    width: 1em;
    height: 1em;
    --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E%3Cpath fill='%23000' fill-rule='evenodd' d='M5.5 4.75a.75.75 0 1 1 1.5 0a.75.75 0 0 1-1.5 0m3.5 0a.75.75 0 1 1 1.5 0a.75.75 0 0 1-1.5 0M5.5 7.995a.75.75 0 1 1 1.5 0a.75.75 0 0 1-1.5 0m3.5 0a.75.75 0 1 1 1.5 0a.75.75 0 0 1-1.5 0M5.5 11.25a.75.75 0 1 1 1.5 0a.75.75 0 0 1-1.5 0m3.5 0a.75.75 0 1 1 1.5 0a.75.75 0 0 1-1.5 0' clip-rule='evenodd'/%3E%3C/svg%3E");
    background-color: currentColor;
    -webkit-mask-image: var(--svg);
    mask-image: var(--svg);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
  }
}
