@import './uswds-colors.css';
@plugin '@iconify/tailwind4';
@plugin '@tailwindcss/typography';

@theme {
  /* start theme aliases */
  --color-base-lightest: var(--color-gray-5);
  --color-base-lighter: var(--color-gray-cool-10);
  --color-base-light: var(--color-gray-cool-30);
  --color-base: var(--color-gray-cool-50);
  --color-base-dark: var(--color-gray-cool-60);
  --color-base-darker: var(--color-gray-cool-70);
  --color-base-darkest: var(--color-gray-90);
  --color-ink: var(--color-gray-90);

  --color-primary-lighter: var(--color-blue-10);
  --color-primary-light: var(--color-blue-30);
  --color-primary: var(--color-blue-warm-60v);
  --color-primary-vivid: var(--color-blue-warm-60v);
  --color-primary-dark: var(--color-blue-warm-70v);
  --color-primary-darker: var(--color-blue-warm-80v);

  --color-secondary-lighter: var(--color-yellow-10v);
  --color-secondary-light: var(--color-yellow-20v);
  --color-secondary: var(--color-yellow-20v);
  --color-secondary-vivid: var(--color-yellow-cool-30v);
  --color-secondary-dark: var(--color-yellow-30v);
  --color-secondary-darker: var(--color-yellow-40v);

  --color-accent-cool-lighter: var(--color-blue-cool-5v);
  --color-accent-cool-light: var(--color-blue-cool-20v);
  --color-accent-cool: var(--color-cyan-30v);
  --color-accent-cool-dark: var(--color-blue-cool-40v);
  --color-accent-cool-darker: var(--color-blue-cool-60v);

  --color-accent-warm-lighter: var(--color-orange-10);
  --color-accent-warm-light: var(--color-orange-20v);
  --color-accent-warm: var(--color-orange-30v);
  --color-accent-warm-dark: var(--color-orange-50v);
  --color-accent-warm-darker: var(--color-orange-60);

  --color-info-lighter: var(--color-cyan-5);
  --color-info-light: var(--color-cyan-20);
  --color-info: var(--color-cyan-30v);
  --color-info-dark: var(--color-cyan-40v);
  --color-info-darker: var(--color-blue-cool-60);

  --color-error-lighter: var(--color-red-warm-10);
  --color-error-light: var(--color-red-warm-30v);
  --color-error: var(--color-red-warm-50v);
  --color-error-dark: var(--color-red-60v);
  --color-error-darker: var(--color-red-70);

  --color-warning-lighter: var(--color-yellow-5);
  --color-warning-light: var(--color-yellow-10v);
  --color-warning: var(--color-gold-20v);
  --color-warning-dark: var(--color-gold-30v);
  --color-warning-darker: var(--color-gold-50v);

  --color-success-lighter: var(--color-green-cool-5);
  --color-success-light: var(--color-green-cool-20v);
  --color-success: var(--color-green-cool-40v);
  --color-success-dark: var(--color-green-cool-50v);
  --color-success-darker: var(--color-green-cool-60v);

  --color-disabled-lighter: var(--color-gray-20);
  --color-disabled-light: var(--color-gray-40);
  --color-disabled: var(--color-gray-50);
  --color-disabled-dark: var(--color-gray-70);
  --color-disabled-darker: var(--color-gray-90);

  --color-emergency: var(--color-red-warm-60v);
  --color-emergency-dark: var(--color-red-warm-80);
  /* End Theme aliases */

  /* Start Fonts */
  --font-sans:
    'Public Sans Variable', '-apple-system', 'BlinkMacSystemFont', 'Segoe UI',
    'Roboto', 'Helvetica', 'Arial', 'sans-serif', 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol', sans-serif;

  --font-mono:
    'Roboto Mono Variable', 'Bitstream Vera Sans Mono', 'Consolas', 'Courier',
    monospace /* End Fonts */;
}
