@theme {
  /* Start USWDS Colors */

  /* Reds (cool) */
  --color-us-red-cool-10: #f3e1e4;
  --color-us-red-cool-20: #ecbec6;
  --color-us-red-cool-30: #e09aa6;
  --color-us-red-cool-40: #e16b80;
  --color-us-red-cool-50: #cd425b;
  --color-us-red-cool-60: #9e394b;
  --color-us-red-cool-70: #68363f;
  --color-us-red-cool-80: #40282c;
  --color-us-red-cool-90: #1e1517;

  --color-us-red-cool-5v: #fff2f5;
  --color-us-red-cool-10v: #f8dfe2;
  --color-us-red-cool-20v: #f8b9c5;
  --color-us-red-cool-30v: #fd8ba0;
  --color-us-red-cool-40v: #f45d79;
  --color-us-red-cool-50v: #e41d3d;
  --color-us-red-cool-60v: #b21d38;
  --color-us-red-cool-70v: #822133;
  --color-us-red-cool-80v: #4f1c24;

  /* Reds (neutral) */
  --color-us-red-5: #f9eeee;
  --color-us-red-10: #f8e1de;
  --color-us-red-20: #f7bbb1;
  --color-us-red-30: #f2938c;
  --color-us-red-40: #e9695f;
  --color-us-red-50: #d83933;
  --color-us-red-60: #a23737;
  --color-us-red-70: #6f3331;
  --color-us-red-80: #3e2927;
  --color-us-red-90: #1b1616;

  --color-us-red-5v: #fff3f2;
  --color-us-red-10v: #fde0db;
  --color-us-red-20v: #fdb8ae;
  --color-us-red-30v: #ff8d7b;
  --color-us-red-40v: #fb5a47;
  --color-us-red-50v: #e52207;
  --color-us-red-60v: #b50909;
  --color-us-red-70v: #8b0a03;
  --color-us-red-80v: #5c1111;

  /* Reds (warm) */
  --color-us-red-warm-5: #f6efea;
  --color-us-red-warm-10: #f4e3db;
  --color-us-red-warm-20: #ecc0a7;
  --color-us-red-warm-30: #dca081;
  --color-us-red-warm-40: #d27a56;
  --color-us-red-warm-50: #c3512c;
  --color-us-red-warm-60: #805039;
  --color-us-red-warm-70: #524236;
  --color-us-red-warm-80: #332d29;
  --color-us-red-warm-90: #1f1c18;

  --color-us-red-warm-5v: #fff5ee;
  --color-us-red-warm-10v: #fce1d4;
  --color-us-red-warm-20v: #f6bd9c;
  --color-us-red-warm-30v: #f39268;
  --color-us-red-warm-40v: #ef5e25;
  --color-us-red-warm-50v: #d54309;
  --color-us-red-warm-60v: #9c3d10;
  --color-us-red-warm-70v: #63340f;
  --color-us-red-warm-80v: #3e2a1e;

  /* Oranges (warm) */
  --color-us-orange-warm-5: #faeee5;
  --color-us-orange-warm-10: #fbe0d0;
  --color-us-orange-warm-20: #f7bca2;
  --color-us-orange-warm-30: #f3966d;
  --color-us-orange-warm-40: #e17141;
  --color-us-orange-warm-50: #bd5727;
  --color-us-orange-warm-60: #914734;
  --color-us-orange-warm-70: #633a32;
  --color-us-orange-warm-80: #3d2925;
  --color-us-orange-warm-90: #1c1615;

  --color-us-orange-warm-5v: #fff3ea;
  --color-us-orange-warm-10v: #ffe2d1;
  --color-us-orange-warm-20v: #fbbaa7;
  --color-us-orange-warm-30v: #fc906d;
  --color-us-orange-warm-40v: #ff580a;
  --color-us-orange-warm-50v: #cf4900;
  --color-us-orange-warm-60v: #a72f10;
  --color-us-orange-warm-70v: #782312;
  --color-us-orange-warm-80v: #3d231d;

  /* Oranges (neutral) */
  --color-us-orange-5: #f6efe9;
  --color-us-orange-10: #f2e4d4;
  --color-us-orange-20: #f3bf90;
  --color-us-orange-30: #f09860;
  --color-us-orange-40: #dd7533;
  --color-us-orange-50: #a86437;
  --color-us-orange-60: #775540;
  --color-us-orange-70: #524236;
  --color-us-orange-80: #332d27;
  --color-us-orange-90: #1b1614;

  --color-us-orange-5v: #fef2e4;
  --color-us-orange-10v: #fce2c5;
  --color-us-orange-20v: #ffbc78;
  --color-us-orange-30v: #fa9441;
  --color-us-orange-40v: #e66f0e;
  --color-us-orange-50v: #c05600;
  --color-us-orange-60v: #8c471c;
  --color-us-orange-70v: #5f3617;
  --color-us-orange-80v: #352313;

  /* Golds */
  --color-us-gold-5: #f5f0e6;
  --color-us-gold-10: #f1e5cd;
  --color-us-gold-20: #dec69a;
  --color-us-gold-30: #c7a97b;
  --color-us-gold-40: #ad8b65;
  --color-us-gold-50: #8e704f;
  --color-us-gold-60: #6b5947;
  --color-us-gold-70: #4d4438;
  --color-us-gold-80: #322d26;
  --color-us-gold-90: #191714;

  --color-us-gold-5v: #fef0c8;
  --color-us-gold-10v: #ffe396;
  --color-us-gold-20v: #ffbe2e;
  --color-us-gold-30v: #e5a000;
  --color-us-gold-40v: #c2850c;
  --color-us-gold-50v: #936f38;
  --color-us-gold-60v: #7a591a;
  --color-us-gold-70v: #5c410a;
  --color-us-gold-80v: #3b2b15;

  /* Yellows */
  --color-us-yellow-5: #faf3d1;
  --color-us-yellow-10: #f5e6af;
  --color-us-yellow-20: #e6c74c;
  --color-us-yellow-30: #c9ab48;
  --color-us-yellow-40: #a88f48;
  --color-us-yellow-50: #8a7237;
  --color-us-yellow-60: #6b5a39;
  --color-us-yellow-70: #504332;
  --color-us-yellow-80: #332d27;
  --color-us-yellow-90: #1a1614;

  --color-us-yellow-5v: #fff5c2;
  --color-us-yellow-10v: #fee685;
  --color-us-yellow-20v: #face00;
  --color-us-yellow-30v: #ddaa01;
  --color-us-yellow-40v: #b38c00;
  --color-us-yellow-50v: #947100;
  --color-us-yellow-60v: #776017;
  --color-us-yellow-70v: #5c4809;
  --color-us-yellow-80v: #422d19;

  /* Greens (warm) */
  --color-us-green-warm-5: #f1f4d7;
  --color-us-green-warm-10: #e7eab7;
  --color-us-green-warm-20: #cbd17a;
  --color-us-green-warm-30: #a6b557;
  --color-us-green-warm-40: #8a984b;
  --color-us-green-warm-50: #6f7a41;
  --color-us-green-warm-60: #5a5f38;
  --color-us-green-warm-70: #45472f;
  --color-us-green-warm-80: #2d2f21;
  --color-us-green-warm-90: #171712;

  --color-us-green-warm-5v: #f5fbc1;
  --color-us-green-warm-10v: #e7f434;
  --color-us-green-warm-20v: #c5d30a;
  --color-us-green-warm-30v: #a3b72c;
  --color-us-green-warm-40v: #7e9c1d;
  --color-us-green-warm-50v: #6a7d00;
  --color-us-green-warm-60v: #5a6613;
  --color-us-green-warm-70v: #4b4e10;
  --color-us-green-warm-80v: #38380b;

  /* Greens (neutral) */
  --color-us-green-5: #eaf4dd;
  --color-us-green-10: #dfeacd;
  --color-us-green-20: #b8d293;
  --color-us-green-30: #9bb672;
  --color-us-green-40: #7d9b4e;
  --color-us-green-50: #607f35;
  --color-us-green-60: #4c6424;
  --color-us-green-70: #3c4a29;
  --color-us-green-80: #293021;
  --color-us-green-90: #161814;

  --color-us-green-5v: #ddf9c7;
  --color-us-green-10v: #c5ee93;
  --color-us-green-20v: #98d035;
  --color-us-green-30v: #7fb135;
  --color-us-green-40v: #719f2a;
  --color-us-green-50v: #538200;
  --color-us-green-60v: #466c04;
  --color-us-green-70v: #2f4a0b;
  --color-us-green-80v: #243413;

  /* Greens (cool) */
  --color-us-green-cool-5: #ecf3ec;
  --color-us-green-cool-10: #dbebde;
  --color-us-green-cool-20: #b4d0b9;
  --color-us-green-cool-30: #86b98e;
  --color-us-green-cool-40: #5e9f69;
  --color-us-green-cool-50: #4d8055;
  --color-us-green-cool-60: #446443;
  --color-us-green-cool-70: #37493b;
  --color-us-green-cool-80: #28312a;
  --color-us-green-cool-90: #1a1f1a;

  --color-us-green-cool-5v: #e3f5e1;
  --color-us-green-cool-10v: #b7f5bd;
  --color-us-green-cool-20v: #70e17b;
  --color-us-green-cool-30v: #21c834;
  --color-us-green-cool-40v: #00a91c;
  --color-us-green-cool-50v: #008817;
  --color-us-green-cool-60v: #216e1f;
  --color-us-green-cool-70v: #154c21;
  --color-us-green-cool-80v: #19311e;

  /* Mints */
  --color-us-mint-5: #dbf6ed;
  --color-us-mint-10: #c7efe2;
  --color-us-mint-20: #92d9bb;
  --color-us-mint-30: #5abf95;
  --color-us-mint-40: #34a37e;
  --color-us-mint-50: #2e8367;
  --color-us-mint-60: #286846;
  --color-us-mint-70: #204e34;
  --color-us-mint-80: #193324;
  --color-us-mint-90: #0d1a12;

  --color-us-mint-5v: #c9fbeb;
  --color-us-mint-10v: #83fcd4;
  --color-us-mint-20v: #0ceda6;
  --color-us-mint-30v: #04c585;
  --color-us-mint-40v: #00a871;
  --color-us-mint-50v: #008659;
  --color-us-mint-60v: #146947;
  --color-us-mint-70v: #0c4e29;
  --color-us-mint-80v: #0d351e;

  --color-us-mint-cool-5: #e0f7f6;
  --color-us-mint-cool-10: #c4eeeb;
  --color-us-mint-cool-20: #9bd4cf;
  --color-us-mint-cool-30: #6fbab3;
  --color-us-mint-cool-40: #4f9e99;
  --color-us-mint-cool-50: #40807e;
  --color-us-mint-cool-60: #376462;
  --color-us-mint-cool-70: #2a4b45;
  --color-us-mint-cool-80: #203131;
  --color-us-mint-cool-90: #111818;

  --color-us-mint-cool-5v: #d5fbf3;
  --color-us-mint-cool-10v: #7efbe1;
  --color-us-mint-cool-20v: #29e1cb;
  --color-us-mint-cool-30v: #1dc2ae;
  --color-us-mint-cool-40v: #00a398;
  --color-us-mint-cool-50v: #008480;
  --color-us-mint-cool-60v: #0f6460;
  --color-us-mint-cool-70v: #0b4b3f;
  --color-us-mint-cool-80v: #123131;

  /* Cyans */
  --color-us-cyan-5: #e7f6f8;
  --color-us-cyan-10: #ccecf2;
  --color-us-cyan-20: #99deea;
  --color-us-cyan-30: #5dc0d1;
  --color-us-cyan-40: #449dac;
  --color-us-cyan-50: #168092;
  --color-us-cyan-60: #2a646d;
  --color-us-cyan-70: #2c4a4e;
  --color-us-cyan-80: #203133;
  --color-us-cyan-90: #111819;

  --color-us-cyan-5v: #e5faff;
  --color-us-cyan-10v: #a8f2ff;
  --color-us-cyan-20v: #52daf2;
  --color-us-cyan-30v: #00bde3;
  --color-us-cyan-40v: #009ec1;
  --color-us-cyan-50v: #0081a1;
  --color-us-cyan-60v: #00687d;
  --color-us-cyan-70v: #0e4f5c;
  --color-us-cyan-80v: #093b44;

  /* Blues (cool) */
  --color-us-blue-cool-5: #e7f2f5;
  --color-us-blue-cool-10: #dae9ee;
  --color-us-blue-cool-20: #adcfdc;
  --color-us-blue-cool-30: #82b4c9;
  --color-us-blue-cool-40: #6499af;
  --color-us-blue-cool-50: #3a7d95;
  --color-us-blue-cool-60: #2e6276;
  --color-us-blue-cool-70: #224a58;
  --color-us-blue-cool-80: #14333d;
  --color-us-blue-cool-90: #0f191c;

  --color-us-blue-cool-5v: #e1f3f8;
  --color-us-blue-cool-10v: #c3ebfa;
  --color-us-blue-cool-20v: #97d4ea;
  --color-us-blue-cool-30v: #59b9de;
  --color-us-blue-cool-40v: #28a0cb;
  --color-us-blue-cool-50v: #0d7ea2;
  --color-us-blue-cool-60v: #07648d;
  --color-us-blue-cool-70v: #074b69;
  --color-us-blue-cool-80v: #002d3f;

  /* Blues (neutral) */
  --color-us-blue-5: #eff6fb;
  --color-us-blue-10: #d9e8f6;
  --color-us-blue-20: #aacdec;
  --color-us-blue-30: #73b3e7;
  --color-us-blue-40: #4f97d1;
  --color-us-blue-50: #2378c3;
  --color-us-blue-60: #2c608a;
  --color-us-blue-70: #274863;
  --color-us-blue-80: #1f303e;
  --color-us-blue-90: #11181d;

  --color-us-blue-5v: #e8f5ff;
  --color-us-blue-10v: #cfe8ff;
  --color-us-blue-20v: #a1d3ff;
  --color-us-blue-30v: #58b4ff;
  --color-us-blue-40v: #2491ff;
  --color-us-blue-50v: #0076d6;
  --color-us-blue-60v: #005ea2;
  --color-us-blue-70v: #0b4778;
  --color-us-blue-80v: #112f4e;

  /* Blues (warm) */
  --color-us-blue-warm-5: #ecf1f7;
  --color-us-blue-warm-10: #e1e7f1;
  --color-us-blue-warm-20: #bbcae4;
  --color-us-blue-warm-30: #98afd2;
  --color-us-blue-warm-40: #7292c7;
  --color-us-blue-warm-50: #4a77b4;
  --color-us-blue-warm-60: #345d96;
  --color-us-blue-warm-70: #2f4668;
  --color-us-blue-warm-80: #252f3e;
  --color-us-blue-warm-90: #13171f;

  --color-us-blue-warm-5v: #edf5ff;
  --color-us-blue-warm-10v: #d4e5ff;
  --color-us-blue-warm-20v: #adcdff;
  --color-us-blue-warm-30v: #81aefc;
  --color-us-blue-warm-40v: #5994f6;
  --color-us-blue-warm-50v: #2672de;
  --color-us-blue-warm-60v: #0050d8;
  --color-us-blue-warm-70v: #1a4480;
  --color-us-blue-warm-80v: #162e51;

  /* Indigos (cool) */
  --color-us-indigo-cool-5: #eef0f9;
  --color-us-indigo-cool-10: #e1e6f9;
  --color-us-indigo-cool-20: #bbc8f5;
  --color-us-indigo-cool-30: #96abee;
  --color-us-indigo-cool-40: #6b8ee8;
  --color-us-indigo-cool-50: #496fd8;
  --color-us-indigo-cool-60: #3f57a6;
  --color-us-indigo-cool-70: #374274;
  --color-us-indigo-cool-80: #292d42;
  --color-us-indigo-cool-90: #151622;

  --color-us-indigo-cool-5v: #edf0ff;
  --color-us-indigo-cool-10v: #dee5ff;
  --color-us-indigo-cool-20v: #b8c8ff;
  --color-us-indigo-cool-30v: #94adff;
  --color-us-indigo-cool-40v: #628ef4;
  --color-us-indigo-cool-50v: #4866ff;
  --color-us-indigo-cool-60v: #3e4ded;
  --color-us-indigo-cool-70v: #222fbf;
  --color-us-indigo-cool-80v: #1b2b85;

  /* Indigos (neutral) */
  --color-us-indigo-5: #efeff8;
  --color-us-indigo-10: #e5e4fa;
  --color-us-indigo-20: #c5c5f3;
  --color-us-indigo-30: #a5a8eb;
  --color-us-indigo-40: #8889db;
  --color-us-indigo-50: #676cc8;
  --color-us-indigo-60: #4d52af;
  --color-us-indigo-70: #3d4076;
  --color-us-indigo-80: #2b2c40;
  --color-us-indigo-90: #16171f;

  --color-us-indigo-5v: #f0f0ff;
  --color-us-indigo-10v: #e0e0ff;
  --color-us-indigo-20v: #ccceff;
  --color-us-indigo-30v: #a3a7fa;
  --color-us-indigo-40v: #8289ff;
  --color-us-indigo-50v: #656bd7;
  --color-us-indigo-60v: #4a50c4;
  --color-us-indigo-70v: #3333a3;
  --color-us-indigo-80v: #212463;

  /* Indigos (warm) */
  --color-us-indigo-warm-5: #f1eff7;
  --color-us-indigo-warm-10: #e7e3fa;
  --color-us-indigo-warm-20: #cbc4f2;
  --color-us-indigo-warm-30: #afa5e8;
  --color-us-indigo-warm-40: #9287d8;
  --color-us-indigo-warm-50: #7665d1;
  --color-us-indigo-warm-60: #5e519e;
  --color-us-indigo-warm-70: #453c7b;
  --color-us-indigo-warm-80: #2e2c40;
  --color-us-indigo-warm-90: #18161d;

  --color-us-indigo-warm-5v: #f5f2ff;
  --color-us-indigo-warm-10v: #e4deff;
  --color-us-indigo-warm-20v: #cfc4fd;
  --color-us-indigo-warm-30v: #b69fff;
  --color-us-indigo-warm-40v: #967efb;
  --color-us-indigo-warm-50v: #745fe9;
  --color-us-indigo-warm-60v: #5942d2;
  --color-us-indigo-warm-70v: #3d2c9d;
  --color-us-indigo-warm-80v: #261f5b;

  /* Violets (neutral) */
  --color-us-violet-5: #f4f1f9;
  --color-us-violet-10: #ebe3f9;
  --color-us-violet-20: #d0c3e9;
  --color-us-violet-30: #b8a2e3;
  --color-us-violet-40: #9d84d2;
  --color-us-violet-50: #8168b3;
  --color-us-violet-60: #665190;
  --color-us-violet-70: #4c3d69;
  --color-us-violet-80: #312b3f;
  --color-us-violet-90: #18161d;

  --color-us-violet-5v: #f7f2ff;
  --color-us-violet-10v: #ede3ff;
  --color-us-violet-20v: #d5bfff;
  --color-us-violet-30v: #c39deb;
  --color-us-violet-40v: #ad79e9;
  --color-us-violet-50v: #9355dc;
  --color-us-violet-60v: #783cb9;
  --color-us-violet-70v: #54278f;
  --color-us-violet-80v: #39215e;

  /* Violets (warm) */
  --color-us-violet-warm-5: #f8f0f9;
  --color-us-violet-warm-10: #f6dff8;
  --color-us-violet-warm-20: #e2bee4;
  --color-us-violet-warm-30: #d29ad8;
  --color-us-violet-warm-40: #bf77c8;
  --color-us-violet-warm-50: #b04abd;
  --color-us-violet-warm-60: #864381;
  --color-us-violet-warm-70: #5c395a;
  --color-us-violet-warm-80: #382936;
  --color-us-violet-warm-90: #1b151b;

  --color-us-violet-warm-5v: #fef2ff;
  --color-us-violet-warm-10v: #fbdcff;
  --color-us-violet-warm-20v: #f4b2ff;
  --color-us-violet-warm-30v: #ee83ff;
  --color-us-violet-warm-40v: #d85bef;
  --color-us-violet-warm-50v: #be32d0;
  --color-us-violet-warm-60v: #93348c;
  --color-us-violet-warm-70v: #711e6c;
  --color-us-violet-warm-80v: #481441;

  /* Magentas */
  --color-us-magenta-5: #f9f0f2;
  --color-us-magenta-10: #f6e1e8;
  --color-us-magenta-20: #f0bbcc;
  --color-us-magenta-30: #e895b3;
  --color-us-magenta-40: #e0699f;
  --color-us-magenta-50: #c84281;
  --color-us-magenta-60: #8b4566;
  --color-us-magenta-70: #66364b;
  --color-us-magenta-80: #402731;
  --color-us-magenta-90: #1b1617;

  --color-us-magenta-5v: #fff2f5;
  --color-us-magenta-10v: #ffddea;
  --color-us-magenta-20v: #ffb4cf;
  --color-us-magenta-30v: #ff87b2;
  --color-us-magenta-40v: #fd4496;
  --color-us-magenta-50v: #d72d79;
  --color-us-magenta-60v: #ab2165;
  --color-us-magenta-70v: #731f44;
  --color-us-magenta-80v: #4f172e;

  /* Grays (cool) */
  --color-us-gray-cool-1: #fbfcfd;
  --color-us-gray-cool-2: #f7f9fa;
  --color-us-gray-cool-3: #f5f6f7;
  --color-us-gray-cool-4: #f1f3f6;
  --color-us-gray-cool-5: #edeff0;
  --color-us-gray-cool-10: #dfe1e2;
  --color-us-gray-cool-20: #c6cace;
  --color-us-gray-cool-30: #a9aeb1;
  --color-us-gray-cool-40: #8d9297;
  --color-us-gray-cool-50: #71767a;
  --color-us-gray-cool-60: #565c65;
  --color-us-gray-cool-70: #3d4551;
  --color-us-gray-cool-80: #2d2e2f;
  --color-us-gray-cool-90: #1c1d1f;

  /* Grays (neutral) */
  --color-us-gray-1: #fcfcfc;
  --color-us-gray-2: #f9f9f9;
  --color-us-gray-3: #f6f6f6;
  --color-us-gray-4: #f3f3f3;
  --color-us-gray-5: #f0f0f0;
  --color-us-gray-10: #e6e6e6;
  --color-us-gray-20: #c9c9c9;
  --color-us-gray-30: #adadad;
  --color-us-gray-40: #919191;
  --color-us-gray-50: #757575;
  --color-us-gray-60: #5c5c5c;
  --color-us-gray-70: #454545;
  --color-us-gray-80: #2e2e2e;
  --color-us-gray-90: #1b1b1b;

  /* Grays (warm) */
  --color-us-gray-warm-1: #fcfcfb;
  --color-us-gray-warm-2: #f9f9f7;
  --color-us-gray-warm-3: #f6f6f2;
  --color-us-gray-warm-4: #f5f5f0;
  --color-us-gray-warm-5: #f0f0ec;
  --color-us-gray-warm-10: #e6e6e2;
  --color-us-gray-warm-20: #cac9c0;
  --color-us-gray-warm-30: #afaea2;
  --color-us-gray-warm-40: #929285;
  --color-us-gray-warm-50: #76766a;
  --color-us-gray-warm-60: #5d5d52;
  --color-us-gray-warm-70: #454540;
  --color-us-gray-warm-80: #2e2e2a;
  --color-us-gray-warm-90: #171716;

  /* End USWDS colors */
}
