@import 'tailwindcss';
@import '@matsugov/tw-config/msb.css';

@source '../app/**/*.{js,ts,jsx,tsx,mdx}';
@source '../components/**/*.{js,ts,jsx,tsx,mdx}';
@source './pages/**/*.{js,ts,jsx,tsx,mdx}';
@source '../node_modules/@matsugov/ui/src/**/*.{js,ts,jsx,tsx,mdx}';

:root {
  --tw-prose-body: var(--color-ink);
}

@theme {
  --color-foreground-light: #ffffff;
  --color-msb-base-light: #e9e9ed;
  --color-msb-base: #e8e8e8;
  --color-msb-base-dark: #d0d0d7;
  --color-msb-base-darker: #d4d5d5;
  --color-msb-base-darker-2: #b1b1b9;
  --color-msb-base-darkest: #9b9b9e;

  --color-primary-light: #2b6db4;
  --color-primary: #173b61;

  --color-background: var(--color-white);
  --color-foreground: var(--color-black);
  --color-foreground-secondary: var(--color-gray-700);
  --color-foreground-disabled: var(--color-gray-400);
  --color-foreground-inverted: var(--color-white);
  --color-surface: var(--color-msb-base);
  --color-surface-dark: var(--color-primary);
  --color-border: var(--color-msb-base-darkest);
  --color-table-border: var(--color-background);
  --color-input: var(--color-msb-base-light);
  --color-input-hover: var(--color-msb-base-dark);
  --color-input-active: var(--color-msb-base-darker-2);
}

/*
  The default border color has changed to `currentcolor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }

  /* Anchor tags */
  a,
  summary {
    @apply text-primary-dark hover:text-primary-darker focus:ring-primary cursor-pointer underline focus:ring-4 focus:ring-offset-2 focus:outline-none;
  }

  /* Button focus state */
  button,
  select,
  input,
  textarea {
    @apply focus:ring-primary focus:ring-4 focus:ring-offset-2 focus:outline-none;
  }

  select {
    @apply border-border cursor-pointer! rounded-sm border bg-gray-100 px-1 hover:bg-gray-200!;
  }

  input {
    @apply border-border cursor-text rounded-sm border bg-white px-1;
  }
}

* {
  scroll-behavior: smooth;
}

html {
  scroll-padding-top: 144px;
}
p .msb-md-body {
  table {
    width: 100%;
  }
}

@layer components {
  .focus-ring {
    @apply focus:ring-primary focus:ring-4 focus:ring-offset-2 focus:outline-none;
  }

  /* .old-btn {
    @apply rounded-sm border border-border bg-gray-100 px-1;
  } */

  .icon-msb--download-pdf {
    display: inline-block;
    width: 1em;
    height: 1em;
    --svg: url("data:image/svg+xml, <svg xmlns='http://www.w3.org/2000/svg' version='1.1' viewBox='0 0 32 32'><path d='M24.05,24v4H8.05v-4h-2v4c0,1.1.9,2,2,2h16c1.1,0,2-.9,2-2v-4h-2Z'/><path d='M21.05,21l-1.41-1.41-2.59,2.59v-8.17h-2v8.17l-2.59-2.59-1.41,1.41,5,5,5-5Z'/><g><path d='M3.83,2h3.55c2.04,0,3.59,1.1,3.59,3.1,0,1.84-1.29,2.94-3.31,2.94h-1.64v3.26h-2.2V2h0ZM7.6,6.38c.78,0,1.35-.64,1.35-1.39s-.64-1.34-1.37-1.34h-1.57v2.73h1.59Z'/><path d='M12.41,2c.23,0,2.25,0,3.06,0,3.37.1,4.8,1.89,4.8,4.59s-1.54,4.68-4.85,4.68h-3.02V2h.01ZM15.49,9.55c1.27,0,2.51-.79,2.51-2.97,0-1.94-.98-2.84-2.49-2.84h-.9v5.81h.89-.01Z'/><path d='M21.72,2h6.56v1.81h-4.37v2h3.71v1.76h-3.71v3.72h-2.2V2h.01Z'/></g></svg>");
    background-color: currentColor;
    -webkit-mask-image: var(--svg);
    mask-image: var(--svg);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
  }

  .icon-msb--download-dxf {
    display: inline-block;
    width: 1em;
    height: 1em;
    --svg: url("data:image/svg+xml, <svg xmlns='http://www.w3.org/2000/svg' version='1.1' viewBox='0 0 32 32'><path d='M24.05,24v4h-16v-4h-2v4c0,1.1.9,2,2,2h16c1.1,0,2-.9,2-2v-4h-2Z'/><path d='M21.05,21l-1.41-1.41-2.59,2.59v-8.17h-2v8.17l-2.59-2.59-1.41,1.41,5,5,5-5Z'/><g><path d='M3.81,2c.23,0,2.25,0,3.06.01,3.37.1,4.8,1.89,4.8,4.59s-1.54,4.68-4.85,4.68h-3.02V2ZM6.9,9.55c1.27,0,2.51-.79,2.51-2.97,0-1.94-.98-2.84-2.49-2.84h-.9v5.81h.89Z'/><path d='M15.35,6.59l-2.97-4.59h2.71l1.65,2.76,1.63-2.76h2.31l-2.82,4.29,3.27,5h-2.72l-1.9-3.13-1.86,3.13h-2.34l3.06-4.7Z'/><path d='M21.73,2h6.56v1.81h-4.37v2h3.71v1.76h-3.71v3.72h-2.2V2Z'/></g></svg>");
    background-color: currentColor;
    -webkit-mask-image: var(--svg);
    mask-image: var(--svg);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
  }
}

@utility msb-btn-* {
  @apply flex cursor-pointer items-center justify-center rounded px-2 py-1 text-center no-underline shadow transition-colors;
  background: --value(--color-*);
  border-width: 1;
  border-color: color-mix(in oklch, --value(--color-*) 60%, black);
  color: contrast-color(--value(--color-*));

  @variant hover {
    background: color-mix(
      in oklch,
      --value(--color- *) 95%,
      contrast-color(--value(--color- *))
    );

    color: contrast-color(
      color-mix(
        in oklch,
        --value(--color- *) 95%,
        contrast-color(--value(--color- *))
      )
    );
  }
}
